/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    width: 960px;
    margin: 0 auto;
    font-family:'Nanum Pen Script', cursive;
}
header{
    display: block;
    border: 1px solid white;
    margin: 5px auto;
    text-align: center;
    overflow: hidden;
}
h1{
    font-size: 600%;
    margin-bottom: 20px;
}
h3{
    font-size: 200%;
}
header .phrase{
    width: 650px;
    margin: 3px auto;
}
header p{
    float: right;
}
.wrap{
    overflow: hidden;
    height: 600px;
}
.btn-create{
    margin: 10px;
    font-size: xx-large;
    display: inline-block;
}
.btn-create a{
    text-decoration: none;
}
a:visited {
    color: blue;
    text-decoration: none;
}
.btn-sort{
    margin-top: 10px;
    font-size: x-large;
    display: inline-block;
    float: right;
}
.todo-list{
    width: 860px;
    margin: 5px auto;
    display: block;
    overflow: hidden;
}
.todo{
    margin: 10px auto;
    padding-left: 10px;
    height: 40px;
    overflow: hidden;

}
.todo > input[type='checkbox']{
    display: inline-block;
    transform : scale(3);
    float: left;
    margin-top: 14px;
}
.todo-title{
    width: 650px;
    display: inline-block;
    float: left;
    margin-left: 15px;
    line-height: 40px;
    font-size: xx-large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.todo-duedate{
    display: inline-block;
    float: right;
    line-height: 40px;
    font-size: x-large;
}
    