/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    width: 960px;
    margin: 0 auto;
    font-family:'Nanum Pen Script', cursive;
}
header{
    display: block;
    border: 1px solid white;
    margin: 5px auto;
    text-align: center;
    overflow: hidden;
}
h1{
    font-size: 600%;
    margin-bottom: 20px;
}
h3{
    font-size: 200%;
}
header .phrase{
    width: 650px;
    margin: 3px auto;
}
header p{
    float: right;
}

/*      wrap      */
.wrap{
    overflow: hidden;
    height: 600px;
}
a:visited {
    color: blue;
    text-decoration: none;
}
.todo-create{
    margin: 10px;
    font-size: xx-large;
    display: inline-block;
}
.todo-create a{
    text-decoration: none;
}
.sort-box{
    margin-top: 10px;
    font-size: x-large;
    display: inline-block;
    float: right;
}
/*      todo      */
.todo-list{
    width: 860px;
    margin: 5px auto;
    display: block;
    overflow: hidden;
}
.todo{
    margin: 10px auto;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;

}
.todo:hover{
    color: blanchedalmond;
    background: rgb(37, 37, 37);
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px gray;
    transform : translateY(3px);
    transition-duration: 0.5s;
}

.todo > input[type='checkbox']{
    display: inline-block;
    transform : scale(3);
    float: left;
    margin-top: 14px;
}
.todo-title{
    width: 600px;
    display: inline-block;
    float: left;
    margin-left: 15px;
    line-height: 40px;
    font-size: xx-large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.todo > input[type='checkbox']:checked ~ .todo-title{
    color: gray;
    text-decoration: line-through;
}
.todo-duedate{
    margin-right: 10px;
    display: inline-block;
    float: right;
    line-height: 40px;
    font-size: x-large;
}

/*      todo create modal       */
.modal{
    display: none;
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-create-form{
    display: none;
    width: 400px;
    height: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background-color:white;
    overflow: hidden;
    font-size: large;
}
.modal-create-title{
    display: block;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.modal-create-form label{
    font-size: xx-large;
    margin-right: 10px;
    text-decoration: underline;
}
.modal-content{
    display: block;
    width: 400px;
    margin: 20px 0;
}
.modal-content:nth-child(2n-1) input{
    float: right;
    margin-top: 2px;
    width: 65%;
    height: 24px;
}
.modal-content:nth-child(2) input{
    margin-right: 18px;
}
.modal-content:nth-child(4) input{
    margin-top: 5px;
    width: 100%;
    height: 200px;
}

/*      button      */
.btn{
    font-family:'Nanum Pen Script';
    width: 70px;
    height: 30px;
    margin: 0 2px;
    font-size: 24px;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px gray;
    transform: scaleX(1.1);
    transition-duration: 0.5s;
}
.btn-cancle{
    background-color: rgb(69, 69, 73);
    color: white;
    font-weight: bold;
    float: right;
}
.btn-create{
    background-color: rgb(61, 65, 255);
    color: white;
    font-weight: bold;
    float: right;
}